<div class="register" ng-app="registerApp" ng-controller="registerController">
    <form method="post" name="registerForm" class="register">
        <div class="form-group">
            <label for="username">{{'username_label'|translate}}</label>
            <div>
                <input id="username" name="username" type="text" ng-model="username" class="form-control" placeholder="{{'username_label'|translate}}" required>
                <span 
                    ng-show="registerForm.username.$touched && registerForm.username.$error.required" 
                    class="error">
                    {{ 'username_required' | translate}}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="name">{{'name_label'|translate}}</label>
            <div>
                <input id="name" name="name" type="text" ng-model="name" class="form-control" placeholder="{{'name_label'|translate}}" required>
                <span 
                    ng-show="registerForm.name.$touched && registerForm.name.$error.required" 
                    class="error">
                    {{'name_required'|translate}}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="lastname">{{'lastname_label'|translate}}</label>
            <div>
                <input id="lastname" name="lastname" type="text" class="form-control" placeholder="{{'lastname_label'|translate}}" ng-model="lastname" required>
                <span 
                    ng-show="registerForm.lastname.$touched && registerForm.lastname.$error.required" 
                    class="error">
                    {{'lastname_required'|translate}}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="email">{{'email_label'|translate}}</label>
            <div>
                <input id="email" name="email" type="email" class="form-control" placeholder="{{'email_label'|translate}}" ng-model="email" required>
                <span 
                    ng-show="registerForm.email.$touched && registerForm.email.$error.required" 
                    class="error">
                    {{'email_required'|translate}}
                </span>
                <span 
                    ng-show="registerForm.email.$touched && registerForm.email.$error.email" 
                    class="error">
                    {{'email_format'|translate}}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="password">{{'password_label'|translate}}</label>
            <div>
                <input 
                    id="password" 
                    name="password" 
                    type="password" 
                    class="form-control" 
                    placeholder="{{'password_label'|translate}}" 
                    ng-model="password" 
                    pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-_]).{8,}$"
                    required
                    minlength="8" autocomplete="new-password"
                >
                <span 
                    ng-show="registerForm.password.$touched && registerForm.password.$error.required" 
                    class="error">
                    {{'password_required'|translate}}
                </span>
                <span 
                    ng-show="registerForm.password.$touched && registerForm.password.$error.minlength" 
                    class="error">
                    {{'password_length'|translate}}
                </span>
                <span 
                    ng-show="registerForm.password.$touched && registerForm.password.$error.pattern && !registerForm.password.$error.minlength" 
                    class="error">
                    {{'password_format'|translate}}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="passwordRepeat">{{'password_repeat_label'|translate}}</label>
            <div>
                <input 
                    id="passwordRepeat" 
                    name="passwordRepeat" 
                    type="password" 
                    class="form-control" 
                    placeholder="{{'password_repeat_label'|translate}}"
                    ng-model="passwordRepeat"
                    compare-to="password"
                    required
                    >
                <span 
                    ng-show="registerForm.passwordRepeat.$touched && 
                    (registerForm.passwordRepeat.$error.required)" 
                    class="error">
                    {{'password_repeat_required'|translate}}
                </span>
                <span 
                    ng-show="registerForm.passwordRepeat.$touched && 
                    (!registerForm.passwordRepeat.$error.required && registerForm.passwordRepeat.$error.compareTo)" 
                    class="error">
                    {{'password_match'|translate}}
                </span>
            </div>
        </div>
        <div class="button-group">
            <button type="button" ng-click="register(registerForm)" ng-disabled="registerForm.$invalid" class="button btn-primary">{{'create_user'|translate}}</button>
            <p class="account-check">
            {{'check_login'|translate}} <a ng-click="backToLogin()">{{'login'|translate}}</a>
            </p>
        </div>
    </form>
</div>